html {
    background-color: slategrey;
    color: white;
    margin: auto;
    width: 50vw;
}

.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/* Change Justify Content to Left if it conflicts with the C/F buttons */
.SearchInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
}

button {
    background-color: slategray;
    color: white;
    border: 0;
    padding: 5px;
    margin: 5px;
}

button:hover {
    text-decoration: none;
    cursor: pointer;
    transition: color 100ms linear 50ms;
    scale: 1.15;
}

input {
    margin: 5px;
    padding: 5px;
    box-shadow: 2px;
    outline: none;
    text-transform: capitalize;
}

.Icon,
.Unit {
    padding: 2px;
    margin: 2px;
}

.Icon:hover,
.Unit:hover {
    cursor: pointer;
    scale: 1.15;
}